<h1>{{ titleToDisplay}}</h1>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <mat-tab-group #tabs animationDuration="500ms" [selectedIndex]="0"> 
                <mat-tab>
                    <ng-template mat-tab-label>
                        All groups
                        <i class="fas fa-globe-europe ml-2"></i>
                    </ng-template>
                    <app-groups-list [groups]="allGroups$ | async" [mode]="GroupStatus.NotMember"></app-groups-list>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        Your groups
                        <i class="fas fa-futbol ml-2"></i>
                    </ng-template>
                    <app-groups-list [groups]="usersGroups$ | async" [mode]="GroupStatus.Accepted"></app-groups-list>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        Groups you created
                        <i class="fas fa-save ml-2"></i>
                    </ng-template>
                    <app-groups-list [groups]="usersCreatedGroups$ | async"></app-groups-list>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        Favorite groups
                        <i class="fas fa-heart ml-2"></i>
                    </ng-template>
                    <app-groups-list [groups]="[]"></app-groups-list>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        Create group
                        <i class="fas fa-plus-circle ml-2"></i>
                    </ng-template>
                    <app-create-group (mainTab)="changeTab($event)"></app-create-group>
                </mat-tab>
              </mat-tab-group>
        </div>
    </div>
</div>
