<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-md-9 pt-5 text-center">
      <h1 class="vertical">Welcome to our football app</h1>
      <h3 class="text-muted">
        <a class="text-decoration-none register-link" (click)="changeState(0)"
          >Register</a
        >
        for free!
      </h3>
      <a
        class="btn btn-outline-secondary btn-lg login"
        (click)="changeState(1)"
      >
        LOGIN
      </a>
    </div>
    <div *ngIf="state == 0; else loginTemplate" class="col-md-3 mt-5">
      <h2 class="text-center">Register here!</h2>
      <form class="register-form" [formGroup]="registerForm">
        <div class="form-group">
          <label>Username</label>
          <input
            formControlName="username"
            type="text"
            class="form-control"
            placeholder="Enter username"
            name="username"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            formControlName="password"
            name="password"
          />
          <small id="emailHelp" class="form-text text-muted"
            >Never share your password with anyone else.</small
          >
        </div>
        <div class="form-group">
          <label>Firstname</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter firstname"
            name="firstname"
            formControlName="firstname"
          />
        </div>
        <div class="form-group">
          <label>Lastname</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter lastname"
            name="lastname"
            formControlName="lastname"
          />
        </div>
        <div class="form-group">
          <label for="country">Choose country</label>
          <select
            id="country"
            formControlName="country"
            class="form-control"
            (change)="getCitiesForCountry($event.target.value)"
          >
            <option [value]="country.id" *ngFor="let country of countries">{{
              country.name
            }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="city">Choose city</label>
          <select id="city" formControlName="city" class="form-control">
            <option [value]="city.id" *ngFor="let city of cities">{{
              city.name
            }}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input
            type="email"
            class="form-control"
            placeholder="Enter email"
            name="email"
            formControlName="email"
          />
        </div>
        <div class="form-group">
          <label>Date of birth</label>
          <input
            type="date"
            class="form-control"
            placeholder="Enter dateOfBirth"
            name="dateOfBirth"
            formControlName="dateOfBirth"
          />
        </div>
        <div class="form-group">
          <label class="control-label" style="margin-right: 10px;"
            >I am a:
          </label>
          <label class="radio-inline">
            <input
              class="mr-3"
              type="radio"
              value="male"
              name="gender"
              formControlName="gender"
            />Male
          </label>
          <label class="radio-inline ml-3">
            <input
              class="mr-3"
              type="radio"
              value="female"
              name="gender"
              formControlName="gender"
            />Female
          </label>
        </div>
        <div class="text-center">
          <button
            [ngStyle]="{
              cursor: !registerForm.valid ? 'not-allowed' : 'pointer'
            }"
            [disabled]="!registerForm.valid"
            type="submit"
            class="btn btn-primary"
            (click)="register()"
          >
            Register
          </button>
        </div>
      </form>
    </div>
    <ng-template #loginTemplate>
      <div class="col-md-3 mt-5">
        <h2 class="text-center">Login here!</h2>
        <form class="login-form" [formGroup]="loginForm">
          <div class="form-group">
            <label>Username</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter username"
              name="username"
              formControlName="username"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              name="password"
              formControlName="password"
            />
            <small id="emailHelp" class="form-text text-muted"
              >Never share your password with anyone else.</small
            >
          </div>
          <div class="text-center">
            <button
              [ngStyle]="{
                cursor: !loginForm.valid ? 'not-allowed' : 'pointer'
              }"
              [disabled]="!loginForm.valid"
              type="submit"
              class="btn btn-success"
              (click)="login()"
            >
              Login
            </button>
          </div>
        </form>
      </div>
    </ng-template>
  </div>
</div>
