.col-md-9 {
    background-image: url(../../assets/footballapp/background.jpg);
}

.vertical {
    margin-top: 10%;
    
}
h1, h3 {
    color:white;
    letter-spacing: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.register-link{
    cursor: pointer;
    color:rgb(0, 153, 255);
}

.register-link:hover{
    color:rgba(0, 0, 255, 0.616);
}

.login {
    margin-top:10%;
    width:200px;
    letter-spacing: 2px;
    color:rgb(190, 190, 190);
}

.register-form{
    width:70%;
    margin-left: auto;
    margin-right: auto;
}

.login-form {
    width:70%;
    margin-left: auto;
    margin-right: auto;
}