<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-md-9 pt-5 text-center">
      <h1 class="vertical">Welcome to our football app</h1>
      <h3 class="text-muted">
        <a  class="text-decoration-none register-link" (click)="changeState(0)"
          >Register</a
        >
        for free!
      </h3>
      <a
        class="btn btn-outline-secondary btn-lg login"
        (click)="changeState(1)"
      >
        LOGIN
      </a>
    </div>
    <div *ngIf="state == 0; else loginTemplate" class="col-md-3 mt-5">
      <h2 class="text-center">Register here!</h2>
      <form
        class="register-form"
        #registerForm="ngForm"
        (ngSubmit)="register()"
      >
        <div class="form-group">
          <label>Username</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter username"
            name="username"
            [(ngModel)]="user.username"
            required
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            [(ngModel)]="user.password"
            name="password"
            required
          />
          <small id="emailHelp" class="form-text text-muted"
            >Never share your password with anyone else.</small
          >
        </div>
        <div class="form-group">
          <label>Firstname</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter firstname"
            name="firstname"
            [(ngModel)]="user.firstname"
            required
          />
        </div>
        <div class="form-group">
          <label>Lastname</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter lastname"
            name="lastname"
            [(ngModel)]="user.lastname"
            required
          />
        </div>
        <div class="form-group">
          <label>City</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter city"
            name="city"
            [(ngModel)]="user.city"
            required
          />
        </div>
        <div class="form-group">
          <label>Country</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter country"
            name="country"
            [(ngModel)]="user.country"
            required
          />
        </div>
        <div class="form-group">
          <label>Email</label>
          <input
            type="email"
            class="form-control"
            placeholder="Enter email"
            name="email"
            [(ngModel)]="user.email"
            required
          />
        </div>
        <div class="form-group">
          <label>Date of birth</label>
          <input
            type="date"
            class="form-control"
            placeholder="Enter dateOfBirth"
            name="dateOfBirth"
            [(ngModel)]="user.dateOfBirth"
          />
        </div>
        <div class="form-group">
          <label class="control-label" style="margin-right:10px"
            >I am a:
          </label>
          <label class="radio-inline">
            <input
              class="mr-3"
              type="radio"
              value="male"
              name="gender"
              [(ngModel)]="user.gender"
            />Male
          </label>
          <label class="radio-inline ml-3">
            <input
              class="mr-3"
              type="radio"
              value="female"
              name="gender"
              [(ngModel)]="user.gender"
            />Female
          </label>
        </div>
        <div class="text-center">
          <button
            [ngStyle]="{'cursor': !registerForm.valid ? 'not-allowed' : 'pointer'}"
            [disabled]="!registerForm.valid"
            type="submit"
            class="btn btn-primary"
          >
            Register
          </button>
        </div>
      </form>
    </div>
    <ng-template #loginTemplate>
      <div class="col-md-3 mt-5">
        <h2 class="text-center">Login here!</h2>
        <form class="login-form" #loginForm="ngForm" (ngSubmit)="login()">
          <div class="form-group">
            <label>Username</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter username"
              name="username"
              [(ngModel)]="user.username"
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              [(ngModel)]="user.password"
              name="password"
              required
            />
            <small id="emailHelp" class="form-text text-muted"
              >Never share your password with anyone else.</small
            >
          </div>
          <div class="text-center">
            <button
              [ngStyle]="{'cursor': !loginForm.valid ? 'not-allowed' : 'pointer'}"
              [disabled]="!loginForm.valid"
              type="submit"
              class="btn btn-success"
            >
              Login
            </button>
          </div>
        </form>
      </div>
    </ng-template>
  </div>
</div>
