<mat-card
  class="user-box"
  [ngClass]="{
    confirmed: matchStatus === MatchStatus.Confirmed,
    checked: matchStatus === MatchStatus.Checked
  }"
>
  <div id="user-row">
    <img
      [routerLink]="['/app','users', user?.id]"
      src="{{  user?.mainPhoto ? ('data:image/JPEG;base64,'+user?.mainPhoto?.image) : '../../../../assets/male-default.jpg'}}"
      class="rounded-circle user-img"
      alt="usr-img"
    />
    <h3 class="name" [routerLink]="['/app','users', user?.id]">{{ user?.firstname }} {{ user?.lastname }}</h3>
    <span class="text-muted username" [routerLink]="['/app','users', user?.id]">({{ user?.username }})</span>
    <!-- TODO: Add recent form display -->
    <button
      *ngIf="pendingRequest"
      class="btn btn-outline-danger ml-4 mt-4 float-right"
      (click)="rejectUser(user)"
    >
      Reject user
    </button>
    <button
      *ngIf="pendingRequest"
      class="btn btn-success ml-4 mt-4 float-right"
      (click)="acceptUser(user)"
    >
      Accept user
    </button>
    <div *ngIf="matchStatus === MatchStatus.Checked" style="color: yellow;margin-left: 80px;"><i class="fas fa-question-circle"></i> Checked</div>
    <div *ngIf="matchStatus === MatchStatus.Confirmed" style="color: greenyellow;margin-left: 80px;"><i class="fas fa-check-circle"></i> Confirmed</div>
    <span (click)="selectPlayer(user)">
      <i *ngIf="selectPlayerVisible" class="fas fa-2x fa-arrow-circle-right float-right mt-2 select-player"></i>
    </span>
    <small class="date-joined">Joined {{ user?.created | date:'dd.MM.yyyy.' }}</small>
  </div>
</mat-card>
