<div class="wrapper">
  <button class="user" appSetActive>
    <img src="../../../../assets/mn.jpg" alt="" class="rounded-circle" />
    <h3>Milos Nikic</h3>
    <h4 class="text-muted">(kicni)</h4>
    <small class="text-muted" style="float:right;">12.12.2020.</small>
  </button>
  <button class="user" appSetActive>
    <img src="../../../../assets/user.jpg" alt="" class="rounded-circle" />
    <h3>Ivan Ivanovic</h3>
    <h4 class="text-muted">(ica)</h4>
    <small class="text-muted" style="float:right;">12.12.2020.</small>
  </button>
</div>
