.wrapper {
  border: 1px solid #d1d5da;
}

.user {
  padding: 16px;
  height: 85px;
  border-bottom: 1px solid #d1d5da;
  cursor: pointer;
  background-color: white;
}

.active {
  border-left: 5px solid #205efa;
  transition: .3s;
  outline: none;
}

button:focus{
  outline: none;
}

button{
  border: none;
}

img {
  width: 55px;
  float: left;
}

h3,
h4 {
  padding-left: 10px;
  display: inline-block;
}
