<div class="card">
  <div 
    class="card-body"
    #chatScroll
    style="min-height: 650px; max-height: 650px; overflow: scroll; padding-bottom: 0px;"
  >
    <div *ngIf="messages?.length === 0">
      <p>No messages yet... say hi by using the message box below</p>
    </div>

    <ul class="chat">
      <li *ngFor="let message of messages" style="list-style-type: none">
        <!-- to them -->
        <div *ngIf="message?.sender?.id !== recipientId" style="height: 65px">
          <span class="chat-img float-left">
            <a style="color: black; cursor: pointer">
              <img
                *ngIf="message?.sender?.mainPhoto; else defaultImage"
                src="data:image/JPEG;base64,{{ message?.sender?.mainPhoto }}"
                alt="User profile picture"
                class="rounded-circle user-img"
              />
              <ng-template #defaultImage>
                <img
                  *ngIf="!message?.sender?.mainPhoto"
                  src="{{
                    message?.sender?.gender === 'Male'
                      ? '../assets/male-default.jpg'
                      : '../assets/female-default.jpg'
                  }}"
                  alt=""
                  class="rounded-circle user-img"
                />
              </ng-template>
            </a>
          </span>
          <div>
            <div>
              <a style="color: black; cursor: pointer">
                <strong class="primary-font pl-2">{{
                  message?.sender?.username
                }}</strong>
              </a>
              <small class="text-muted float-right">
                <i class="far fa-clock"></i> {{ message?.messageSent | timeAgo }}
              </small>
            </div>
            <p class="pl-2">{{ message?.content }}</p>
          </div>
        </div>
        <!-- to me -->
        <div *ngIf="message?.sender?.id === recipientId" style="height: 65px">
          <span class="chat-img float-right">
            <a style="color: black; cursor: pointer">
              <img
                *ngIf="message?.sender?.mainPhoto; else defaultImage"
                src="data:image/JPEG;base64,{{ message?.sender?.mainPhoto }}"
                alt="User profile picture"
                class="rounded-circle user-img"
              />
              <ng-template #defaultImage>
                <img
                  *ngIf="!message?.sender?.mainPhoto"
                  src="{{
                    message?.sender?.gender === 'Male'
                      ? '../assets/male-default.jpg'
                      : '../assets/female-default.jpg'
                  }}"
                  alt=""
                  class="rounded-circle user-img"
                />
              </ng-template>
            </a>
          </span>
          <div>
            <div>
              <small class="text-muted">
                <i class="far fa-clock"></i> {{ message?.messageSent | timeAgo }}
              </small>
              <a style="color: black; cursor: pointer">
                <strong class="primary-font float-right pr-2">{{
                  message?.sender?.username
                }}</strong>
              </a>
            </div>
            <p class="pr-2 float-right">{{ message?.content }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <div class="input-group">
      <input
        id="message-input"
        type="text"
        name="content"
        required
        class="form-control input-sm"
        placeholder="Send a private message..."
        [(ngModel)]="messageContent"
        autocomplete="off"
        (keyup.enter)="sendMessage()"
      />
      <div class="input-group-append">
        <button
          id="message-button"
          class="btn btn-primary"
          (click)="sendMessage()"
          [disabled]="!messageContent"
        >
          Send
        </button>
      </div>
    </div>
  </div>
</div>
