<h1>{{ titleToDisplay }}</h1>
<hr />
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <mat-tab-group [selectedIndex]="0" #tabs animationDuration="500ms">
        <mat-tab isActive="false">
          <ng-template mat-tab-label>
            Profile
            <i class="fas ml-2 fa-user"></i>
          </ng-template>
        <app-user-profile [userId]="userId" [editable]="editable" (editProfile)="changeTab($event)"></app-user-profile>
        </mat-tab>
        <!-- TODO: Phase 2 -->
        <mat-tab disabled>
          <ng-template mat-tab-label>
            Latest 5 Matches
            <i class="fas ml-2 fa-trophy"></i>
          </ng-template>
          <app-user-latest-matches></app-user-latest-matches>
        </mat-tab>
        <!-- TODO: Phase 2 -->
        <mat-tab disabled>
          <ng-template mat-tab-label>
            Statistics
            <i class="fas ml-2 fa-poll"></i>
          </ng-template>
          <app-user-statistics></app-user-statistics>
        </mat-tab>
        <mat-tab >
          <ng-template mat-tab-label>
            Photos
            <i class="fas ml-2 fa-images"></i>
          </ng-template>
          <app-user-photos [userId]="userId" [editable]="editable"></app-user-photos>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Comments
            <i class="fas ml-2 fa-comments"></i>
          </ng-template>
          <app-user-comments [comments]="comments" (profile)="changeTab($event)"></app-user-comments>
        </mat-tab>
          <mat-tab *ngIf="editable">
            <ng-template mat-tab-label>
              Settings
              <i class="fas ml-2 fa-cogs"></i>
            </ng-template>
            <app-user-settings [userId]="userId"></app-user-settings>
          </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
