.mat-tab-label.mat-tab-label-active {
  background-color: transparent;
  color: #0e3eb8;
}

.mat-tab-label:hover {
  color: #134ee4;
  transition: 0.1s;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: #205efa;
  height: 3px;
}

.mat-tab-label {
    width: 100%;
    font-weight: 400;
    font-size: 22px;
}

