<h1>Upcoming match</h1>
<hr />
<div class="container-fluid">
  <div class="row text-center mt-4">
    <div class="col-md-3">
      <h3>📢</h3>
      <h3>Match is going to be played</h3>
      <p class="text">Jelovac, Serbia - Belgrade</p>
    </div>
    <div class="col-md-3">
      <h3>🕗</h3>
      <h3>Playing date</h3>
      <p class="text">21.12.2020. 19:00</p>
    </div>
    <div class="col-md-3">
      <h3>🏃‍♂️</h3>
      <h3>Number of players playing</h3>
      <p class="text">12</p>
    </div>
    <div class="col-md-3">
      <h3>💸</h3>
      <h3>Price</h3>
      <p class="text">100 RSD / per person</p>
    </div>
  </div>
  <hr />
  <div class="row">
    <!-- Here should be displayed number of users and buttons -->
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center"><h4>5/12</h4></div>
    <div class="col-md-4">
      <button class="btn btn-outline-danger ml-4 mr-4 float-right">
        Give up
      </button>
      <button class="btn btn-success ml-4 mr-4 float-right">Confirm</button>
      <button class="btn btn-warning ml-4 mr-4 float-right">Check in</button>
    </div>
    <!-- Row for users -->
    <div class="col-md-12 mt-4">
      <app-group-user-box></app-group-user-box>
    </div>
  </div>
</div>
