<h1>Upcoming match - <h2>{{match?.name}}</h2></h1>
<hr />
<div class="container-fluid">
  <div class="row text-center mt-4">
    <div class="col-md-3">
      <h3>📢</h3>
      <h3>Match is going to be played</h3>
      <p class="text">{{match?.location}}, {{match?.country}} - {{match?.city}}</p>
    </div>
    <div class="col-md-3">
      <h3>🕗</h3>
      <h3>Playing date</h3>
      <p class="text">{{match?.datePlaying | date:'dd.MM.yyyy.'}}</p>
    </div>
    <div class="col-md-3">
      <h3>🏃‍♂️</h3>
      <h3>Number of players playing</h3>
      <p class="text">{{match?.numberOfPlayers}}</p>
    </div>
    <!-- Hide for this phase -->
    <div *ngIf="false" class="col-md-3">
      <h3>💸</h3>
      <h3>Price</h3>
      <p class="text">100 RSD / per person</p>
    </div>
  </div>
  <hr />
  <div class="row">
    <!-- Here should be displayed number of users and buttons -->
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
      <h3 [ngClass]="getCapacityClass()">Users confirmed: {{ match?.numberOfAppliedPlayers }}/{{match?.numberOfPlayers}}</h3>
    </div>
    <div class="col-md-4">
      <button
        *ngIf="!isConfirmed && isChecked"
        class="btn btn-outline-danger ml-4 mr-4 float-right"
        (click)="giveUp()"
      >
        Give up
      </button>
      <button
        *ngIf="isChecked"
        class="btn btn-success ml-4 mr-4 float-right"
        [disabled]="isConfirmed"
        (click)="confirm()"
      >
        Confirm
      </button>
      <button
        *ngIf="!isConfirmed && !isChecked"
        class="btn btn-warning ml-4 mr-4 float-right"
        (click)="checkIn()"
      >
        <i class="fas fa-plus"></i> Check in
      </button>
    </div>
    <!-- Row for users -->
    <div *ngIf="users?.length > 0; else noUsers" class="col-md-12 mt-4">
      <app-group-user-box
        *ngFor="let user of users"
        [user]="user"
        [matchStatus]="user?.matchStatus"
      ></app-group-user-box>
    </div>
    <ng-template #noUsers>
      <h2>No applied or checked in users for this match.</h2>
    </ng-template>
  </div>
</div>
