<div class="container-fluid mt-4">
  <!-- <div class="row">
    <div class="col-md-12">
      
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h2 class="text-center">Edit profile</h2>
      <form [formGroup]="editForm">
        <div class="form-group">
          <label for="groupName">Firstname</label>
          <input
            formControlName="firstname"
            type="text"
            id="firstname"
            class="form-control"
            placeholder="Firstname"
          />
        </div>
        <div class="form-group">
          <label for="lastname">Lastname</label>
          <input
            formControlName="lastname"
            type="text"
            id="lastname"
            class="form-control"
            placeholder="Lastname"
          />
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input
            formControlName="username"
            type="text"
            id="username"
            class="form-control"
            placeholder="Username"
          />
        </div>
        <div class="form-group">
          <label for="username">Edit email</label>
          <input
            formControlName="email"
            type="email"
            id="email"
            class="form-control"
            placeholder="Email"
          />
        </div>
        <div class="form-group">
          <label for="country">Edit Location</label>
          <select id="country" formControlName="country" class="form-control">
            <option selected>Serbia</option>
            <option>Bulgaria</option>
            <option>Belgium</option>
          </select>
        </div>
        <div class="form-group">
          <label for="city">Edit City</label>
          <select id="city" formControlName="city" class="form-control">
            <option selected>---</option>
            <option>Belgrade</option>
            <option>Novi Sad</option>
            <option>Brisel</option>
          </select>
        </div>
      </form>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <button [disabled]="!editForm.touched" class="btn-success btn btn-lg" (click)="updateUser(userId)">
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
