<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-12">
      <h2>Edit profile</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <form #editForm>
        <div class="form-group">
          <label for="groupName">Edit firstname</label>
          <input
            type="text"
            id="firstname"
            class="form-control"
            placeholder="Firstname"
          />
        </div>
        <div class="form-group">
          <label for="lastname">Edit lastname</label>
          <input
            type="text"
            id="lastname"
            class="form-control"
            placeholder="Lastname"
          />
        </div>
        <div class="form-group">
          <label for="username">Edit username</label>
          <input
            type="text"
            id="username"
            class="form-control"
            placeholder="Username"
          />
        </div>
        <div class="form-group">
          <label for="username">Edit email</label>
          <input
            type="email"
            id="email"
            class="form-control"
            placeholder="Email"
          />
        </div>
        <div class="form-group">
          <label for="country">Edit Location</label>
          <select id="country" class="form-control">
            <option selected>Serbia</option>
            <option>Bulgaria</option>
          </select>
        </div>
        <div class="form-group">
          <label for="city">Edit City</label>
          <select id="city" class="form-control">
            <option selected>---</option>
            <option>Belgrade</option>
            <option>Novi Sad</option>
          </select>
        </div>
        <div class="form-group">
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="validatedCustomFile"
              required
            />
            <label class="custom-file-label" for="validatedCustomFile"
              >Edit profile picture</label
            >
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-md-4">
          <button class="btn-success btn btn-lg">
            Update
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="text-center">
        <h4>Image preview</h4>
        <img src="../../../../assets/mn.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
