<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-md-6" style="max-height: 100vh; overflow: auto">
      <app-group-user-box
        *ngFor="let user of groupMembers"
        [user]="user"
        (click)="setSelectedUser(user)"
      ></app-group-user-box>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <mat-card
        style="max-height: 650px; min-height: 650px"
        *ngIf="!!selectedUser; else noSelectedUser"
      >
        <img
          *ngIf="selectedUser?.mainPhoto; else defaultImage"
          mat-card-image
          style="max-height: 350px; object-fit: cover; min-height: 350px"
          src="data:image/JPEG;base64,{{ selectedUser?.mainPhoto?.image }}"
          alt="User profile picture"
        />
        <ng-template #defaultImage>
          <img
            mat-card-image
            *ngIf="!selectedUser?.mainPhoto"
            style="max-height: 350px; object-fit: cover; min-height: 350px"
            src="{{
              selectedUser?.gender === 'Male'
                ? '../assets/male-default.jpg'
                : '../assets/female-default.jpg'
            }}"
            alt=""
          />
        </ng-template>
        <div class="row">
          <div class="col-md-6">
            <mat-card-content>
              <h2>
                {{ selectedUser?.firstname }} {{ selectedUser?.lastname }}
              </h2>
              <h6>{{ selectedUser?.username }}</h6>
              <h6>{{ selectedUser?.email }}</h6>
              <h6>Age: {{ selectedUser?.age }}</h6>
              <h6>Joined {{ selectedUser?.created | timeAgo }}</h6>
            </mat-card-content>
          </div>
          <div class="col-md-6">
            <h2>Latest form</h2>
            <h4>
              <span
                [ngStyle]="getFormColor(match)"
                *ngFor="let match of userForm"
                >{{ match }}
              </span>
            </h4>
            <button
              [routerLink]="['/app/users', selectedUser.id]"
              class="btn btn-outline-primary mt-4 float-right"
            >
              Visit profile
            </button>
            <!-- TODO: Add check if user is power or admin of group -->
            <button
              *ngIf="
                membershipInfo?.role === Role.Owner ||
                membershipInfo?.role === Role.Admin
              "
              class="btn btn-outline-danger float-right mt-4"
            >
              Remove user
            </button>
          </div>
        </div>
      </mat-card>
      <ng-template #noSelectedUser>
        <h3 class="text-center">Select user to see information 🙂</h3>
      </ng-template>
    </div>
  </div>
</div>
