<div class="container-fluid mt-4">
  <div class="row">
    <div class="col col-sm-3">
      <mat-card class="example-card">
        <img
          *ngIf="user?.mainPhoto; else defaultImage"
          mat-card-image
          src="data:image/JPEG;base64,{{ user?.mainPhoto?.image }}"
          alt="User profile picture"
        />
        <ng-template #defaultImage>
          <img 
          mat-card-image
          *ngIf="!user?.mainPhoto" 
          src="{{user?.gender === 'Male' ? '../assets/male-default.jpg' : '../assets/female-default.jpg'}}" 
          alt="" />
        </ng-template>
        <a class="status" (click)="onEditProfile()" *ngIf="editable">
          <mat-card-content>
            <i class="far fa-lg fa-smile mr-4"></i> Set your status
          </mat-card-content>
        </a>
        <p>{{ user?.mainPhoto?.description }}</p>
        <mat-card-actions *ngIf="editable">
          <button class="btn btn-light" (click)="onEditProfile()">
            Edit Profile
          </button>
        </mat-card-actions>
      </mat-card>
      <div *ngIf="visitors?.length > 0" class="latest-visitors">
        <p class="text-center">Latest visitors</p>
        <table>
          <tr>
            <th>User</th>
            <th class="time-ago">Time ago</th>
          </tr>
          <tr *ngFor="let visitor of visitors">
            <td><a href="">{{visitor.visitor.firstname}} {{visitor.visitor.lastname}}</a></td>
            <td class="time-ago">
              <small class="text-muted">{{visitor.dateVisited | timeAgo}}</small>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col col-sm-9">
      <div class="row">
        <h2>{{ user?.firstname }} {{ user?.lastname }}</h2>
        <h4 class="nickname">({{ user.username }})</h4>
      </div>
      <div class="row">
        <h5 class="text-muted mt-0">
          {{ user.city }}, {{ user.country }}
          <img src="../../../../assets/sr.png" class="flag" alt="sr flag" />
        </h5>
      </div>
      <div class="row">
        <h5>{{ user.age }} years old</h5>
        <!-- 23 years old -->
      </div>
      <div class="row">
        <h3>Achievements</h3>
        <h4 class="text-muted percentage">(6/12) {{ (6 / 12) * 100 }} %</h4>
      </div>
      <div class="row achievement-wrapper">
        <div class="col-md-4">
          <div class="achievement">
            <i class="far fa-futbol icon"></i>
            <span class="achievement-text"
              >Most organized matches last year</span
            >
          </div>
        </div>
        <div class="col-md-4">
          <div class="achievement">
            <i class="fas fa-running icon"></i>
            <span class="achievement-text">Most assists in single match</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="achievement">
            <i class="fas fa-trophy icon"></i>
            <span class="achievement-text">Most goals in single match</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="achievement locked">
            <i class="fas fa-award icon"></i>
            <span class="achievement-text">Played over 100 games</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="achievement locked">
            <i class="fas fa-award icon"></i>
            <span class="achievement-text">Played over 100 games</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="achievement">
            <i class="fas fa-trophy icon"></i>
            <span class="achievement-text">Most goals in singel match</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="achievement locked">
            <i class="fas fa-award icon"></i>
            <span class="achievement-text">Played over 100 games</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="achievement locked">
            <i class="fas fa-award icon"></i>
            <span class="achievement-text">Played over 100 games</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="achievement locked">
            <i class="fas fa-award icon"></i>
            <span class="achievement-text">Played over 100 games</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="achievement locked">
            <i class="fas fa-award icon"></i>
            <span class="achievement-text">Played over 100 games</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="achievement">
            <i class="fas fa-trophy icon"></i>
            <span class="achievement-text">Most goals in singel match</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="achievement">
            <i class="fas fa-trophy icon"></i>
            <span class="achievement-text">Most goals in singel match</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
