<div class="container-fluid mt-4">
  <div class="row">
    <div class="col col-sm-3">
      <mat-card class="example-card">
        <img
          *ngIf="user?.mainPhoto; else defaultImage"
          mat-card-image
          src="data:image/JPEG;base64,{{ user?.mainPhoto?.image }}"
          alt="User profile picture"
        />
        <ng-template #defaultImage>
          <img
            mat-card-image
            *ngIf="!user?.mainPhoto"
            src="{{
              user?.gender === 'Male'
                ? '../assets/male-default.jpg'
                : '../assets/female-default.jpg'
            }}"
            alt=""
          />
        </ng-template>
        <a class="status" *ngIf="editable">
          <mat-card-content>
            <div matTooltip="Soon 🔜" class="form-group"><i class="far fa-lg fa-smile mr-4"></i><input type="text" class="status-input" name="status" id="status" style="cursor: default;" placeholder="Set your status"></div>
          </mat-card-content>
        </a>
        <p>{{ user?.mainPhoto?.description }}</p>
        <mat-card-actions *ngIf="editable">
          <button class="btn btn-light" (click)="onEditProfile()">
            Edit Profile
          </button>
        </mat-card-actions>
      </mat-card>
      <div *ngIf="visitors?.length > 0" class="latest-visitors">
        <p class="text-center">Latest visitors</p>
        <table>
          <tr>
            <th>User</th>
            <th class="time-ago">Time ago</th>
          </tr>
          <tr *ngFor="let visitor of visitors">
            <td>
              <a [routerLink]="['/app', 'users', visitor?.visitor.id]"
                >{{ visitor?.visitor?.firstname }}
                {{ visitor?.visitor?.lastname }}</a
              >
            </td>
            <td class="time-ago">
              <small class="text-muted">{{
                visitor?.dateVisited | timeAgo
              }}</small>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col col-sm-9">
      <div class="row">
        <h2>{{ user?.firstname }} {{ user?.lastname }}</h2>
        <h4 class="nickname">({{ user?.username }})</h4>
        <h3 matTooltip="Power User 💪" *ngIf="user?.isPowerUser">👑</h3>
      </div>
      <div class="row">
        <h5 class="text-muted mt-0">
          {{ user?.city }}, {{ user?.country }}
          <img src="{{user?.flag}}" class="flag" alt="sr flag" />
        </h5>
      </div>
      <div class="row">
        <h5>{{ user?.age }} years old</h5>
      </div>
      <div class="row">
        <h3>Achievements</h3>
        <h4 class="text-muted percentage">
          ({{ userAchievements?.length }}/{{ achievements?.length }})
          {{
            Math?.round(
              (this.userAchievements?.length / this.achievements?.length) * 1000
            ) / 10
          }}
          %
        </h4>
      </div>
      <div class="row achievement-wrapper">
        <div *ngFor="let achievement of achievements" class="col-md-4">
          <div
            class="achievement"
            [ngClass]="{ locked: getClass(achievement) }"
          >
            <i class="{{ achievement?.icon }}"></i>
            <span class="achievement-text">{{ achievement?.name }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
