<h2 mat-dialog-title>Create new chat</h2>
<div mat-dialog-content style="min-height: 370px">
  <mat-card style="min-height: 350px">
    <mat-card-content>
      <section>
        <label>Choose chat type:</label>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="type">
          <mat-radio-button class="ml-2" [value]="ChatType.Public"
            ><span class="mr-2">Public</span></mat-radio-button
          >
          <mat-radio-button [value]="ChatType.Private"
            >Private</mat-radio-button
          >
        </mat-radio-group>
      </section>
    </mat-card-content>
    <div *ngIf="type == ChatType.Public">
      <!-- <mat-selection-list>
        <mat-list-option *ngFor="let friend of friends">
          {{ friend.name }} - {{ friend.image }}
        </mat-list-option>
      </mat-selection-list> -->
      To be done...
    </div>
    <div *ngIf="type == ChatType.Private">
      <mat-selection-list #selection>
        <mat-list-option *ngFor="let friend of friends" [value]="friend">
          <div class="content">
            <img
              *ngIf="friend?.mainPhoto; else defaultImage"
              style="width: 35px"
              src="data:image/JPEG;base64,{{ friend?.mainPhoto }}"
              alt="User profile picture"
              class="rounded-circle"
            />
            <ng-template #defaultImage>
              <img
                *ngIf="!friend?.mainPhoto"
                style="width: 35px"
                src="{{
                  friend?.gender === 'Male'
                    ? '../assets/male-default.jpg'
                    : '../assets/female-default.jpg'
                }}"
                alt=""
                class="rounded-circle"
              /> </ng-template
            ><span style="display: inline" class="ellipsis"
              >{{ friend.firstname }} {{ friend.lastname }} -
              <span class="username">{{ friend.username }}</span></span
            >
          </div>
        </mat-list-option>
      </mat-selection-list>
    </div>
  </mat-card>
</div>
<div mat-dialog-actions class="justify-content-center">
  <div class="row">
    <button
      class="btn btn-outline-secondary mr-4 ml-4"
      (click)="onCancelClick()"
    >
      Cancel
    </button>
    <button
      class="btn btn-info float-right mr-4 ml-4"
      (click)="onCreateClick()"
      cdkFocusInitial
    >
      Create
    </button>
  </div>
</div>
