<div class="container-fluid">
  <div class="row">
    <table style="width:100%">
      <tr>
        <th>Name</th>
        <th>Country</th>
        <th>City</th>
        <th>Location</th>
        <th *ngIf="mode === MatchPlayed.Played">Result</th>
        <th *ngIf="mode === MatchPlayed.Upcoming">Number of players</th>
        <th *ngIf="mode === MatchPlayed.Played">Home</th>
        <th *ngIf="mode === MatchPlayed.Played">Away</th>
        <th>Go to Match Page</th>
      </tr>
      <tr *ngFor="let match of matches" class="match">
        <td>{{match?.name}}</td>
        <td>{{match?.country}}</td>
        <td>{{match?.city}}</td>
        <td>{{match?.location}}</td>
        <td>{{match?.datePlaying | date:'dd.MM.yyyy.'}}</td>
        <td *ngIf="mode === MatchPlayed.Played">WIN</td>
        <td *ngIf="mode === MatchPlayed.Upcoming">{{match?.numberOfAppliedPlayers}}/{{match?.numberOfPlayers}}</td>
        <td *ngIf="mode === MatchPlayed.Played">Jelovac</td>
        <td *ngIf="mode === MatchPlayed.Played">NBG</td>
        <td [routerLink]="['/app','upcoming-match', match?.id]" class="match-page"><i class="fas fa-caret-right"></i></td>
      </tr>
    </table>
  </div>
</div>
