<div class="container-fluid">
  <div class="row">
    <table style="width:100%">
      <tr>
        <th>Place</th>
        <th>Date</th>
        <th *ngIf="mode === MatchPlayed.Played">Result</th>
        <th *ngIf="mode === MatchPlayed.Upcoming">Number of players</th>
        <th>Home</th>
        <th>Away</th>
        <th>Go to Match Page</th>
      </tr>
      <tr class="match">
        <td>Belgrade</td>
        <td>21.2.2019.</td>
        <td *ngIf="mode === MatchPlayed.Played">WIN</td>
        <td *ngIf="mode === MatchPlayed.Upcoming">7/13</td>
        <td>Jelovac</td>
        <td>NBG</td>
        <td class="match-page"><i class="fas fa-caret-right"></i></td>
      </tr>
      <tr class="match">
        <td>Belgrade</td>
        <td>21.2.2019.</td>
        <td *ngIf="mode === MatchPlayed.Played">WIN</td>
        <td *ngIf="mode === MatchPlayed.Upcoming">7/13</td>
        <td>Jelovac</td>
        <td>NBG</td>
        <td class="match-page"><i class="fas fa-caret-right"></i></td>
      </tr>
      <tr class="match">
        <td>Belgrade</td>
        <td>21.2.2019.</td>
        <td *ngIf="mode === MatchPlayed.Played">WIN</td>
        <td *ngIf="mode === MatchPlayed.Upcoming">7/13</td>
        <td>Jelovac</td>
        <td>NBG</td>
        <td class="match-page"><i class="fas fa-caret-right"></i></td>
      </tr>
      <tr class="match">
        <td>Belgrade</td>
        <td>21.2.2019.</td>
        <td *ngIf="mode === MatchPlayed.Played">WIN</td>
        <td *ngIf="mode === MatchPlayed.Upcoming">7/13</td>
        <td>Jelovac</td>
        <td>NBG</td>
        <td class="match-page"><i class="fas fa-caret-right"></i></td>
      </tr>
      <tr class="match">
        <td>Belgrade</td>
        <td>21.2.2019.</td>
        <td *ngIf="mode === MatchPlayed.Played">WIN</td>
        <td *ngIf="mode === MatchPlayed.Upcoming">7/13</td>
        <td>Jelovac</td>
        <td>NBG</td>
        <td class="match-page"><i class="fas fa-caret-right"></i></td>
      </tr>
      <tr class="match">
        <td>Belgrade</td>
        <td>21.2.2019.</td>
        <td *ngIf="mode === MatchPlayed.Played">WIN</td>
        <td *ngIf="mode === MatchPlayed.Upcoming">7/13</td>
        <td>Jelovac</td>
        <td>NBG</td>
        <td class="match-page"><i class="fas fa-caret-right"></i></td>
      </tr>
    </table>
  </div>
</div>
