.text {
  font-size: large;
}

.zero-capacity {
  color:black;
}

.low-capacity {
  color: greenyellow;
}

.moderate-capacity {
  color: orange;
}

.high-capacity {
  color: orangered;
}

.full-capacity {
  color: red;
}
