<h1>{{ titleToDisplay }}</h1>
<hr />
<div class="container-fluid">
  <div class="row">
    <table style="width: 100%">
      <tr>
        <th>Place</th>
        <th>Date</th>
        <th>Result</th>
        <th>Home</th>
        <th>Away</th>
        <th>Go to Match Page</th>
      </tr>
      <tr *ngFor="let match of matchHistory" class="match">
        <td>{{ match?.place }}</td>
        <td>{{ match?.datePlayed | date: "dd.MM.yyyy. HH:mm" }}</td>
        <td [ngStyle]="getResultStyle(match?.result)">{{ match?.result }}</td>
        <td>{{ match?.homeName }}</td>
        <td>{{ match?.awayName }}</td>
        <td
          class="match-page"
          [routerLink]="['/app', 'match-played', match?.id]"
        >
          <i class="fas fa-caret-right"></i>
        </td>
      </tr>
    </table>
  </div>
</div>
