<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-12">
      <!-- TODO: Phase 2 -->
      <!-- <div class="input-group">
        <input
        style="margin-left:23px;"
          type="text"
          class="form-control mr-1"
          placeholder="Search for friends"
        />
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary ml-1">
            Search <i class="fa fa-search"></i>
          </button>
        </span>
      </div> -->
    </div>
  </div>
  <div class="row">
    <div *ngFor="let user of users" class="col-md-2 ml-4 mr-2 mt-3">
      <app-friend-detail [buttonDisplay]="'addFriend'" [user]="user"></app-friend-detail>
    </div>
    <!-- <div class="col-md-2 ml-4 mr-2 mt-3">
      <app-friend-detail [buttonDisplay]="'requestSent'"></app-friend-detail>
    </div>
    <div class="col-md-2 ml-4 mr-2 mt-3">
      <app-friend-detail [buttonDisplay]="'addFriend'"></app-friend-detail>
    </div>
    <div class="col-md-2 ml-4 mr-2 mt-3">
      <app-friend-detail [buttonDisplay]="'removeFriend'"></app-friend-detail>
    </div>
    <div class="col-md-2 ml-4 mr-2 mt-3">
      <app-friend-detail [buttonDisplay]="'removeFriend'"></app-friend-detail>
    </div>
    <div class="col-md-2 ml-4 mr-2 mt-3">
      <app-friend-detail [buttonDisplay]="'removeFriend'"></app-friend-detail>
    </div> -->
  </div>
</div>
