<div class="container-fluid mt-4">
  <div *ngIf="editable" class="row">
    <div class="col-md-12">
      <div class="form-group">
        <div class="custom-file" [formGroup]="uploadForm">
          <input
            style="display: none"
            type="file"
            (change)="onFileChanged($event)"
            accept=".png, .jpg, .jpeg"
            #fileInput
          />
          <button class="btn btn-outline-secondary" style="display: block;width:100%;" (click)="fileInput.click()">Select File</button>
          <div class="pt-4">
          </div>
          <textarea
            formControlName="description"
            name="description"
            style="resize:none;"
            rows="5"
            class="form-control"
            placeholder="Enter description..."
          ></textarea>
          <div class="text-center">
            <button [disabled]="!uploadForm.valid" class="mt-2 mb-3 btn btn-outline-success btn-lg" (click)="onUpload()">
              Upload
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let photo of photos" class="col-md-3 mb-4 image">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="data:image/JPEG;base64,{{ photo?.image }}"
          alt="User photo"
        />
        <mat-card-content>
          <p>
            {{photo?.description}}
          </p>
        </mat-card-content>
        <mat-card-actions *ngIf="editable" class="text-center">
          <button *ngIf="!photo.isMain;else currentMainPhoto" class="btn btn-primary" (click)="makePhotoMain(photo.id)">Make main photo</button>
          <ng-template #currentMainPhoto>
            <button class="btn btn-outline-secondary" disabled="true" style="cursor: default;">Current main photo</button>
          </ng-template>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
