<h1 *ngIf="!displayUserDetail">{{ titleToDisplay }}</h1>
<hr *ngIf="!displayUserDetail" />
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <mat-tab-group animationDuration="500ms">
        <mat-tab>
          <ng-template mat-tab-label>
            Explore
            <i class="fas fa-globe-europe ml-2"></i>
          </ng-template>
          <app-friends-list [users]="(exploreUsers$ | async)" [buttonDisplay]="FriendRequestStatus.NotSent"></app-friends-list>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Your friends
            <i class="fas fa-futbol ml-2"></i>
          </ng-template>
          <app-friends-list [users]="(friends$ | async)" [buttonDisplay]="FriendRequestStatus.Accepted"></app-friends-list>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Sent friend requests
            <i class="fas fa-futbol ml-2"></i>
          </ng-template>
          <app-friends-list [users]="(sentFriendRequests$ | async)" [buttonDisplay]="FriendRequestStatus.Sent"></app-friends-list>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Pending requests
            <i class="fas fa-futbol ml-2"></i>
          </ng-template>
          <app-friends-list [users]="(pendingRequests$ | async)" [buttonDisplay]="FriendRequestStatus.NotAccepted"></app-friends-list>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<!-- <router-outlet *ngIf="displayUserDetail">
  <button
    [routerLink]="['/friends']"
    class="btn btn-primary btn-lg"
    *ngIf="displayUserDetail"
    (click)="displayUserDetail = !displayUserDetail"
  >
    Go back
  </button></router-outlet
> -->
