<h1>Match played</h1>
<hr />
<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-md-3">
      <h3>Location played</h3>
      <p class="text">{{ getMatchPlayedLocation() }}</p>
    </div>
    <div class="col-md-3">
      <h3>Home</h3>
      <p *ngFor="let scorer of upperSection?.homeScorers" class="text">⚽ {{scorer.name}} {{ scorer.goals > 1 ? scorer.goals + 'x' : scorer.goals }}</p>
    </div>
    <div class="col-md-3">
      <h3>Result</h3>
      <p style="font-size: larger">
        {{upperSection?.homeGoals}} : {{upperSection?.awayGoals}}
      </p>
    </div>
    <div class="col-md-3">
      <h3>Away</h3>
      <p *ngFor="let scorer of upperSection?.awayScorers" class="text">⚽ {{scorer.name}} {{ scorer.goals > 1 ? scorer.goals + 'x' : scorer.goals }}</p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <h2 class="text-center">Home team</h2>
      <app-group-user-box
        *ngFor="let user of homeTeam"
        [user]="user"
      ></app-group-user-box>
    </div>
    <div class="col-md-6">
      <h2 class="text-center">Away team</h2>
      <app-group-user-box
        *ngFor="let user of awayTeam"
        [user]="user"
      ></app-group-user-box>
    </div>
  </div>
</div>
