<h1>Match played</h1>
<hr />
<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-md-3">
      <h3>Location played</h3>
      <p class="text">Jelovac, Serbia - Belgrade</p>
    </div>
    <div class="col-md-3">
      <h3>Home</h3>
      <p class="text">⚽ Milos Nikic</p>
      <p class="text">⚽ Ivan Ivanovic</p>
    </div>
    <div class="col-md-3">
      <h3>Result</h3>
      <p style="font-size: larger;">2:1</p>
    </div>
    <div class="col-md-3">
      <h3>Away</h3>
      <p class="text">⚽ Jovan Jovanovic</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h2 class="text-center">Home team</h2>
      <app-group-user-box *ngFor="let user of homePlayers" [user]="user"></app-group-user-box>
    </div>
    <div class="col-md-6">
      <h2 class="text-center">Away team</h2>
      <app-group-user-box *ngFor="let user of awayPlayers" [user]="user"></app-group-user-box>
    </div>
  </div>
</div>