/* Style page content */
.main {
  margin-top: 50px;
  margin-left: 300px; /* Same as the width of the sidebar */
  padding: 30px 10px;
  background-color: rgba(128, 128, 128, 0.144);
  min-height: 100%;
}
