<!-- Side navigation -->
<div class="sidenav">
    <span class="sidenav-info">Users info</span>  
    <a [routerLink]="['/app/dashboard']" routerLinkActive="selected"><i class="fas fa-chart-line"></i> Dashboard</a>
    <a [routerLink]="['/app/friends']" routerLinkActive="selected"><i class="fa fa-users"></i> Friends</a>
    <a [routerLink]="['/app/messages']" routerLinkActive="selected"><i class="fa fa-envelope"></i> Messages</a>
    <span class="sidenav-info">Users groups</span>
    <a [routerLink]="['/app/groups']" routerLinkActive="selected"><i class="fa fa-layer-group"></i> Groups</a>
    <span class="sidenav-info">Matches</span>
    <a [routerLink]="['/app/available-matches']" routerLinkActive="selected"><i class="far fa-futbol"></i> Available matches</a>
    <a [routerLink]="['/app/match-history']" routerLinkActive="selected"><i class="fas fa-history"></i> Match history</a>
    <p class="version">v1.0.0 © Miloš Nikić</p>
  </div>
  <!-- <router-outlet></router-outlet> -->