<!-- Side navigation -->
<div class="sidenav">
    <span class="sidenav-info">Users info</span>  
    <a [routerLink]="['/dashboard']" routerLinkActive="selected"><i class="fas fa-chart-line"></i> Dashboard</a>
    <a [routerLink]="['/friends']" routerLinkActive="selected"><i class="fa fa-users"></i> Friends</a>
    <a [routerLink]="['/messages']" routerLinkActive="selected"><i class="fa fa-envelope"></i> Messages</a>
    <span class="sidenav-info">Users groups</span>
    <a [routerLink]="['/groups']" routerLinkActive="selected"><i class="fa fa-layer-group"></i> Groups</a>
    <span class="sidenav-info">Matches</span>
    <a [routerLink]="['/available-matches']" routerLinkActive="selected"><i class="far fa-futbol"></i> Available matches</a>
    <a [routerLink]="['/match-history']" routerLinkActive="selected"><i class="fas fa-history"></i> Match history</a>
  </div>
  <!-- <router-outlet></router-outlet> -->