<nav class="navbar navbar-expand-sm">
  <a class="navbar-brand" href="#">Football App</a>
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
      <div class="input-group">
        <input #searchBox type="text" class="form-control search" placeholder="Search"> 
        <span class="input-group-btn">
          <button class="btn btn-primary clear" (click)="onClear()" type="button"><i class="fas fa-times"></i></button>
        </span>
        <span class="input-group-btn">
             <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
        </span>
     </div>
     <a [routerLink]="['/app/dashboard']" id="username">{{user.username}}</a>
     <button class="btn btn-primary" type="button" (click)="logout()"><i title="Logout" class="fas fa-sign-in-alt"></i></button>
  </div>
</nav>
