<nav class="navbar navbar-expand-sm">
  <a class="navbar-brand">Football App</a>
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <div class="input-group">
      <input
        matInput
        #searchBox
        placeholder="Search for users"
        aria-label="State"
        [matAutocomplete]="auto"
        class="form-control search"
        [formControl]="userControl"
        />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let user of filteredUsers$ | async" (click)="goToProfile(user.id)">
          <img
          *ngIf="user?.mainPhoto; else defaultImage"
          mat-card-image
          style="width: 28px;height: 28px;margin: 15px;object-fit: cover;"
          src="data:image/JPEG;base64,{{ user?.mainPhoto?.image }}"
          alt="User profile picture"
          class="rounded-circle"
        />
        <ng-template #defaultImage>
          <img
            mat-card-image
            *ngIf="!user?.mainPhoto"
            src="{{
              user?.gender === 'Male'
                ? '../assets/male-default.jpg'
                : '../assets/female-default.jpg'
            }}"
            alt=""
            style="width: 28px;height: 28px;margin: 15px;object-fit: cover;"
            class="rounded-circle"
          />
          </ng-template>
          <span style="padding-left: 10px;">{{ user.firstname }} {{ user.lastname }}</span> |
          <small class="text-muted"> {{ user.username }}</small>
        </mat-option>
      </mat-autocomplete>
      <span class="input-group-btn">
        <button class="btn btn-primary clear" (click)="onClear()" type="button">
          <i class="fas fa-times"></i>
        </button>
      </span>
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
    <a [routerLink]="['/app/dashboard']" id="username">{{ user.username }}</a>
    <button class="btn btn-primary" type="button" (click)="logout()">
      <i title="Logout" class="fas fa-sign-in-alt"></i>
    </button>
  </div>
</nav>
