.example-card {
  width: 280px;
}

.example-card img{
  object-fit: cover;
  height: 280px;
  width: 280px;
}


.fa-heart:hover{
  color: red;
  transition: 0.5s;
}

.link-name {
  text-decoration: none; 
  color:black;
}
.link-name:hover {
  color: rgb(104, 104, 104);
}