<div class="container-fluid mt-4">
  <div class="row justify-content-center">
    <div class="row justify-content-center">
      <textarea name="comment" id="" placeholder="Enter text here..." class="comment-box"></textarea>
    <div class="col-md-10 mt-2 mb-4 post" >
      <button class="btn btn-success pull-right">Post comment</button>
    </div>
  </div>
    <div class="comments-wrapper">
      <div class="comment">
        <div class="comment-image">
          <a href=""><img src="../../../../assets/mn.jpg" class="rounded-circle" alt="" /></a>
          <div class="membership">
            Member since 2019
          </div>
        </div>
        
        <div class="comment-content">
          <div class="comment-header">
            <a href="" class="profile-link"><h2 class="name">Milos Nikic</h2> <h4 class="nickname">(kicni)</h4></a>
          </div>
          <div class="comment-text">
            Bratina
          </div>
        </div>
        <div class="text-muted comment-date">
          31.12.2020.
        </div>
      </div>
      <div class="comment">
        <div class="comment-image">
          <a href=""><img src="../../../../assets/user.jpg" class="rounded-circle" alt="" /></a>
          <div class="membership">
            Member since 2017
          </div>
        </div>
        
        <div class="comment-content">
          <div class="comment-header">
            <a href="" class="profile-link"><h2 class="name">Milos Milosevic</h2> <h4 class="nickname">(losmi)</h4></a>
          </div>
          <div class="comment-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a
            mauris ac enim tempus sollicitudin. Suspendisse a maximus erat. Sed
            a massa non magna pharetra eleifend ac ut nulla. Curabitur quis
            sapien fermentum ligula porta accumsan. Nunc sed neque ac libero
            vulputate fringilla ac a erat. Nam consequat sit amet sem tincidunt
            placerat. Duis ultrices luctus arcu sed placerat.
            a maximus erat. Sed
            a massa non magna pharetra eleifend ac ut nulla. Curabitur quis
            sapien fermentum ligula porta accumsan. Nunc sed neque ac libero
            vulputate fringilla ac a erat. Nam consequat sit amet sem tincidunt
            placerat. Duis ultrices luctus arcu sed placerat.
            
            a massa non magna pharetra eleifend ac ut nulla. Curabitur quis
            sapien fermentum ligula porta accumsan. Nunc sed neque ac libero
            vulputate fringilla ac a erat. Nam consequat sit amet sem tincidunt
        
          </div>
        </div>
        <div class="text-muted comment-date">
          1.1.2019.
        </div>
      </div>
      <div class="comment">
        <div class="comment-image">
          <a href=""><img src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="rounded-circle" alt="" /></a>
          <div class="membership">
            Member since 2020
          </div>
        </div>
        
        <div class="comment-content">
          <div class="comment-header">
            <a href="" class="profile-link"><h2 class="name">Jovan Jovanovic</h2> <h4 class="nickname">(joca)</h4></a>
          </div>
          <div class="comment-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a
            mauris ac enim tempus sollicitudin. Suspendisse a maximus erat. Sed
            a massa non magna pharetra eleifend ac ut nulla. Curabitur quis
            sapien fermentum ligula porta accumsan. Nunc sed neque ac libero
            vulputate fringilla ac a erat. Nam consequat sit amet sem tincidunt
            placerat. Duis ultrices luctus arcu sed placerat.
            a maximus erat. Sed
          </div>
        </div>
        <div class="text-muted comment-date">
          31.12.2020.
        </div>
      </div>

      <div class="comment">
        <div class="comment-image">
          <a href=""><img src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="rounded-circle" alt="" /></a>
          <div class="membership">
            Member since 2020
          </div>
        </div>
        
        <div class="comment-content">
          <div class="comment-header">
            <a href="" class="profile-link"><h2 class="name">Jovan Jovanovic</h2> <h4 class="nickname">(joca)</h4></a>
          </div>
          <div class="comment-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a
            mauris ac enim tempus sollicitudin. Suspendisse a maximus erat. Sed
            a massa non magna pharetra eleifend ac ut nulla. Curabitur quis
            sapien fermentum ligula porta accumsan. Nunc sed neque ac libero
            vulputate fringilla ac a erat. Nam consequat sit amet sem tincidunt
            placerat. Duis ultrices luctus arcu sed placerat.
            a maximus erat. Sed
          </div>
        </div>
        <div class="text-muted comment-date">
          31.12.2020.
        </div>
      </div>
      <div class="comment">
        <div class="comment-image">
          <a href=""><img src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="rounded-circle" alt="" /></a>
          <div class="membership">
            Member since 2020
          </div>
        </div>
        
        <div class="comment-content">
          <div class="comment-header">
            <a href="" class="profile-link"><h2 class="name">Jovan Jovanovic</h2> <h4 class="nickname">(joca)</h4></a>
          </div>
          <div class="comment-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a
            mauris ac enim tempus sollicitudin. Suspendisse a maximus erat. Sed
            a massa non magna pharetra eleifend ac ut nulla. Curabitur quis
            sapien fermentum ligula porta accumsan. Nunc sed neque ac libero
            vulputate fringilla ac a erat. Nam consequat sit amet sem tincidunt
            placerat. Duis ultrices luctus arcu sed placerat.
            a maximus erat. Sed
          </div>
        </div>
        <div class="text-muted comment-date">
          31.12.2020.
        </div>
      </div>
    </div>
  </div>
</div>
