<div class="container-fluid mt-4">
  <div class="row justify-content-center">
    <div [formGroup]="commentForm" class="row justify-content-center">
      <textarea
        formControlName="comment"
        name="comment"
        id=""
        style="resize: none;"
        rows="4"
        placeholder="Enter text here..."
        class="comment-box"
      ></textarea>
      <div class="col-md-10 mt-2 mb-4 post">
        <button
          class="btn btn-success pull-right"
          [disabled]="!commentForm.valid"
          (click)="postComment()"
        >
          Post comment
        </button>
      </div>
    </div>
    <div class="comments-wrapper">
      <div *ngFor="let comment of comments" class="comment">
        <div class="comment-image">
          <a [routerLink]="['/app/users/', comment?.commenter?.id]"><img
            class="rounded-circle"
            *ngIf="comment?.commenter?.mainPhoto; else defaultImage"
            src="data:image/JPEG;base64,{{
              comment?.commenter?.mainPhoto?.image
            }}"
            alt="User profile picture"
          />
          <ng-template #defaultImage>
            <img
              class="rounded-circle"
              *ngIf="!comment?.commenter?.mainPhoto"
              src="{{
                comment?.commenter?.gender === 'Male'
                  ? '../assets/male-default.jpg'
                  : '../assets/female-default.jpg'
              }}"
              alt=""
            />
          </ng-template></a>
          <div class="membership">
            Member since {{ comment?.commenter?.created | date: "yyyy" }}
          </div>
        </div>

        <div class="comment-content">
          <div class="comment-header">
            <a [routerLink]="['/app/users/', comment?.commenter?.id]" (click)="changeToProfileTab()" class="profile-link"
              ><h2 class="name">
                {{ comment?.commenter?.firstname }}
                {{ comment?.commenter?.lastname }}
              </h2>
              <h4 class="nickname">({{ comment?.commenter?.username }})</h4></a
            >
          </div>
          <div class="comment-text">
            {{ comment?.content }}
          </div>
        </div>
        <div class="text-muted comment-date">
          {{ comment?.dateCommented | date: "d.M.yyyy. HH:mm" }}
          <!-- {{ comment?.dateCommented | timeAgo }} -->
        </div>
      </div>
      <div *ngIf="!comments?.length">
        <h2>No comments for user, be first to comment! :)</h2>
      </div>
      <!-- <div class="comment">
        <div class="comment-image">
          <a href=""><img src="../../../../assets/user.jpg" class="rounded-circle" alt="" /></a>
          <div class="membership">
            Member since 2017
          </div>
        </div>
        
        <div class="comment-content">
          <div class="comment-header">
            <a href="" class="profile-link"><h2 class="name">Milos Milosevic</h2> <h4 class="nickname">(losmi)</h4></a>
          </div>
          <div class="comment-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a
            mauris ac enim tempus sollicitudin. Suspendisse a maximus erat. Sed
            a massa non magna pharetra eleifend ac ut nulla. Curabitur quis
            sapien fermentum ligula porta accumsan. Nunc sed neque ac libero
            vulputate fringilla ac a erat. Nam consequat sit amet sem tincidunt
            placerat. Duis ultrices luctus arcu sed placerat.
            a maximus erat. Sed
            a massa non magna pharetra eleifend ac ut nulla. Curabitur quis
            sapien fermentum ligula porta accumsan. Nunc sed neque ac libero
            vulputate fringilla ac a erat. Nam consequat sit amet sem tincidunt
            placerat. Duis ultrices luctus arcu sed placerat.
            
            a massa non magna pharetra eleifend ac ut nulla. Curabitur quis
            sapien fermentum ligula porta accumsan. Nunc sed neque ac libero
            vulputate fringilla ac a erat. Nam consequat sit amet sem tincidunt
        
          </div>
        </div>
        <div class="text-muted comment-date">
          1.1.2019.
        </div>
      </div> -->
    </div>
  </div>
</div>
