<div class="container-fluid mt-4">
  <div class="row">
    <ng-template #noGroups>
      <div class="container-fluid">
        <h1>No groups to display.</h1>
      </div>
    </ng-template>
    <table *ngIf="groups?.length; else noGroups">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Date Created</th>
        <th>Location</th>
        <th *ngIf="mode === MembershipStatus.Accepted"></th>
        <th>Number of members</th>
        <th></th>
      </tr>
      <tr class="group" *ngFor="let group of groups">
        <td [routerLink]="[group.id]">
          <img
            *ngIf="group.image"
            src="data:image/JPEG;base64,{{ group?.image }}"
            alt="Group image"
            class="rounded"
          />
        </td>
        <td><a [routerLink]="[group.id]">{{ group?.name }}</a></td>
        <td>{{ group?.description }}</td>
        <td>{{ group?.dateCreated | date }}</td>
        <td>
          {{ group?.location?.name }} | {{ group?.location?.country }},
          {{ group?.location?.city }}
        </td>
        <td *ngIf="mode === MembershipStatus.Accepted">
          <span
            *ngIf="group?.membershipStatus === MembershipStatus.Accepted"
            matTooltip="{{
              !group?.favorite ? 'Make favorite! 💕' : 'Make unfavorite! 💔'
            }}"
            (click)="
              !group?.favorite
                ? makeFavorite(group.id)
                : makeUnfavorite(group.id)
            "
            matTooltipPosition="above"
          >
            <span *ngIf="group?.favorite"
            class="favorite"
            >
              <i class="fas fa-heart fa-lg" style="color: red;"></i>
            </span>
            <span *ngIf="!group?.favorite">
              <i class="far fa-heart fa-lg"></i>
            </span>
          </span>
        </td>
        <td><i class="fa fa-users mr-4"></i>{{ group?.numberOfMembers }}</td>
        <td style="text-align: right;">
          <button
            style="cursor: not-allowed;"
            *ngIf="group?.membershipStatus === MembershipStatus.Accepted"
            class="btn btn-outline-success"
            disabled
          >
            <i class="fas fa-check" style="color: rgb(153, 255, 0);"></i>
            Already member
          </button>
          <button
            *ngIf="group?.membershipStatus === MembershipStatus.Accepted"
            class="ml-2 btn btn-outline-danger"
            (click)="openDialog(group.id)"
          >
            <i class="fas fa-times" style="color: red;"></i>
          </button>
          <button
            *ngIf="group?.membershipStatus === MembershipStatus.Sent"
            class="ml-2 btn btn-outline-secondary"
          >
            Request already sent
          </button>
          <button
            *ngIf="group?.membershipStatus === MembershipStatus.NotMember"
            class="btn btn-primary"
            (click)="requestToJoin(group.id)"
          >
            <i class="fas fa-plus"></i> Ask to join
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
