<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-md-6">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{group?.location.name}} - {{group?.location?.city?.name}}, {{group?.location?.country?.name}}</mat-card-title>
          <mat-card-subtitle>Created {{group?.dateCreated | timeAgo}}</mat-card-subtitle>
          <div class="row">
            <div class="col-md-12 justify-content-center">
              <button *ngIf="!group?.favorite" class="btn btn-outline-primary ml-1 mt-1 mb-2">
                Make group favorite! 💙
              </button>
              <button
                *ngIf="group?.isMember"
                class="btn btn-success float-right ml-1 mt-1 mb-2"
              >
                Leave group 😱
              </button>
              <button *ngIf="!group?.isMember" class="btn btn-primary float-right ml-1 mt-1 mb-2">
                Ask to join ⚽
              </button>
            </div>
          </div>
        </mat-card-header>
        <img
          *ngIf="group?.image; else defaultImage"
          mat-card-image
          src="data:image/JPEG;base64,{{ group?.image }}"
          alt="User profile picture"
        />
        <ng-template #defaultImage>
          <img
            mat-card-image
            *ngIf="!group?.image"
            src="../../../../assets/default-group-image.jpg"
            alt="Group image"
          />
        </ng-template>
        <mat-card-content>
          <p>
            {{group?.description}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-card class="col-md-6 latest-joined-users">
      <mat-card-header class="text-center"
        ><h3>Latest joined users!</h3></mat-card-header
      >
      <div class="users-wrapper">
        <div class="row">
          <div *ngFor="let user of group?.latestJoined" class="col-md-6">
            <app-group-user-box [user]="user"></app-group-user-box>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
